#h1 {
    max-height: 10%;
    content: center;
    display: flex;
    color: #0d0dff;
    padding: 0px;
    text-align: center;
    background-image: linear-gradient(90deg, white, pink, aqua, pink, white);
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    position: relative;
    box-shadow: 10px 0px 40px lightblue inset, 20px 20px 20px grey ;


}

body {
    overflow: scroll;
    background-image: linear-gradient(90deg, pink, aqua, white, aqua, pink);

}

img {
    width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: 20px 20px 20px grey;

}

#sharks {
    position: relative;
    top: 20%;
}
