@import url("https://www.nerdfonts.com/assets/css/webfont.css");

body {
    background-color: #110111;
    color: #ffe7f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.content {
    color: #ffd5f6;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: #250021;
    display: flex;
    flex-direction: column;
    width: 80%;
    z-index: 1;
    max-width: 800px;
    position: relative;
}

.sharks {
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sharks img {
    z-index: 1;
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}
.h1button {
    color: #ffd5f6;
    text-decoration: none;
}
